.searchBox {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.searchBox label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.searchBox input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}
