.pageContainer {
  text-align: center; /* Центруємо вміст сторінки */
  padding: 20px; /* Додаємо внутрішній відступ */
}

.pageContainer h2 {
  color: #333; /* Забезпечуємо видимий колір для заголовка */
  margin-bottom: 20px; /* Відступ під заголовком */
}
